@media (max-width: 1450px) {
	body { min-width:320px; }
	.view-services .views-row { text-align:center; }
	.view-services .views-row .service-icon { float:none; }
	.view-services .views-row .service-content { padding-left:0; }
	.optionset-default .flex-caption .slider_title { font-size:80px; }
	.project-category .project-items-media-front .hover-content, .project-category .project-items-media-back .hover-content { padding:10px 20px; }
	.page-services .views-row {
		padding:80px 0;
		text-align:left;
	}
	.page-services .views-row .service-image {
		float:left;
		max-width:50%;
	}
	.page-services .views-row .service-content { padding:0 0 0 50px; }
	.page-services .views-row-even .service-image { float:right; }
	.page-services .views-row-even .service-content {
		padding:0 50px 0 0;
		overflow:hidden;
	}
}
@media (max-width: 1250px) {
	.project-category .view-content .views-row { width:50%; }
}
@media (max-width: 995px) {
	.page-services .views-row { text-align:center; }
	.page-services .views-row .service-image {
		float:none;
		max-width:none;
		margin-bottom:30px;
	}
	.page-services .views-row .service-image img { width:100%; }
	.page-services .views-row .service-content { padding:0; }
	.page-services .views-row-even .service-image { float:none; }
	.page-services .views-row-even .service-content { padding:0; }
	.stickup {
		box-shadow:none !important;
		position:relative !important;
	}
	.pseudoStickyBlock {
		display:none !important;
		height:0 !important;
	}
	#backtotop { display:none !important; }
	.top-indent { padding:0; }
	.view-testimonials blockquote { padding:0 10%; }
	.width-indent {
		padding-left:15%;
		padding-right:15%;
	}
	.view-projects .view-header { padding:0 5%; }
	.panels-flexible-column:not(:last-child) { margin-bottom:25px; }
	h3, .h3 { font-size:20px; }
	.parallax-bg-inner { top:0 !important; }
	.optionset-default .flex-caption .slider_title {
		font-size:50px;
		font-weight:400;
	}
	.optionset-default .flex-caption .slider_slogan { font-size:24px; }
}
@media (max-width: 767px) {
	.optionset-default .flex-caption .container { width:100%; }
	.region-footer {
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
	}
	.optionset-default .flex-caption .slider_title { font-size:30px; }
	.optionset-default .flex-caption .slider_slogan { font-size:14px; }
	.project-category .view-content .views-row { width:100%; }
	.header_wrapper { padding:60px 0 65px; }
	.region-menu > *:first-child { margin-right:0; }
	.header-section_inner { flex-direction:column; }
	.region-menu {
		display:block;
		width:100%;
		text-align:center;
	}
	.dd-search#block-search-form .block-content form >div { padding:1px; }
	#superfish-1-select { width:100%; }
	.view-projects .view-content .views-row { flex:0 1 100%; }
	.comment-wrapper { overflow:visible; }
	.user-picture { margin-bottom:12px; }
	.filter-help {
		float:none;
		margin-bottom:15px;
		padding-top:0;
	}
	.mobile-two-column .views-row {
		padding-top:0 !important;
		float:left !important;
		width:46% !important;
		margin-bottom:30px !important;
		margin-right:4% !important;
	}
	.mobile-two-column .views-row.even { margin-right:0 !important; }
	.mobile-two-column .views-row.odd { clear:left; }
	#comments .indented { margin-left:0; }
	.dd-search#block-search-form .search-button { display:none; }
	.dd-search#block-search-form .block-content {
		position:relative;
		width:100%;
		top:0;
		left:0;
	}
	.dd-search#block-search-form .block-content form {
		visibility:visible;
		opacity:1;
		padding:0;
	}
	img { width:auto; }
}
@media (max-width: 479px) {
	#comments .comment .comment-wrapper { overflow:visible; }
	.page-tracker #main-wrapper .content { overflow-x:scroll; }
	.page-tracker #main-wrapper .content table.sticky-header { display:none !important; }
	.page-forum #forum { overflow-x:scroll; }
	.page-forum #forum td.forum .icon {
		float:none;
		margin:0 0 5px;
	}
	.node-submitted ul.submitted-list li {
		border-bottom:1px solid #d8d8d8;
		float:none;
		margin:0;
		padding:3px 0;
	}
}
