@import url('http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('http://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url('http://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
	background:#fff;
	color:#888;
	font-family:'Open Sans', sans-serif;
	font-size:18px;
	line-height:1.67;
	min-width:1250px;
	font-weight:300;
	position:relative;
}
#page-wrapper { overflow:hidden; }
h1 {
	font:300 80px/1.325 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
}
h2 {
	font:300 60px/1.333 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
}
h3, .h3 {
	font:300 40px/1.35 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
}
.profile h3, #block-tm-follow-user h2 {
	border-bottom:1px solid #d8d8d8;
	overflow:hidden;
	padding-bottom:5px;
}
h4 {
	font:300 30px/1.43 'Libre Franklin', sans-serif;
	position:relative;
	text-transform:uppercase;
	letter-spacing:0.06em;
	margin-bottom:25px;
}
.pane-content h4, .node-content h4 { padding-top:30px; }
.pane-content h4:before, .node-content h4:before {
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	width:65px;
	height:2px;
	background:#e33131;
}
.invert .pane-content h4:before, .invert .node-content h4:before { background:#fff; }
h5 {
	font:300 24px/1.54 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
}
h6, .h6 {
	font:300 18px/1.89 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
	margin-bottom:15px;
}
h1, h2, h3, h4, h5, h6 { color:#000; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:inherit;
	text-decoration:none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#e33131;
	text-decoration:none;
}
.invert h1, .invert h2, .invert h3, .invert h4, .invert h5, .invert h6 { color:#fff; }
h4, h5, h6 { color:#333; }
h4 a, h5 a, h6 a {
	color:inherit;
	text-decoration:none;
}
h4 a:hover, h5 a:hover, h6 a:hover {
	color:#e33131;
	text-decoration:none;
}
.invert h4, .invert h5, .invert h6 { color:#fff; }
h4 + h6 { margin-top:50px; }
.region-header-bottom .block-title, .region-header-bottom .pane-title, .region-content-top .block-title, .region-content-top .pane-title, .region-fw-content-top .block-title, .region-fw-content-top .pane-title, .region-content .block-title, .region-content .pane-title, .region-content-bottom .block-title, .region-content-bottom .pane-title {
	position:relative;
	text-align:center;
	margin-bottom:50px;
	padding-top:30px;
}
.region-header-bottom .block-title:before, .region-header-bottom .pane-title:before, .region-content-top .block-title:before, .region-content-top .pane-title:before, .region-fw-content-top .block-title:before, .region-fw-content-top .pane-title:before, .region-content .block-title:before, .region-content .pane-title:before, .region-content-bottom .block-title:before, .region-content-bottom .pane-title:before {
	content:'';
	position:absolute;
	top:0px;
	left:50%;
	width:65px;
	height:2px;
	background:#e33131;
	transform:translate(-50%,0);
}
.invert .region-header-bottom .block-title:before, .invert .region-header-bottom .pane-title:before, .invert .region-content-top .block-title:before, .invert .region-content-top .pane-title:before, .invert .region-fw-content-top .block-title:before, .invert .region-fw-content-top .pane-title:before, .invert .region-content .block-title:before, .invert .region-content .pane-title:before, .invert .region-content-bottom .block-title:before, .invert .region-content-bottom .pane-title:before { background:#fff; }
.region-header-bottom .block-title, .region-header-bottom .pane-title { margin-bottom:22px; }
header .page-title {
	position:relative;
	text-align:center;
	margin-bottom:50px;
	padding-top:30px;
}
header .page-title:before {
	content:'';
	position:absolute;
	top:0px;
	left:50%;
	width:65px;
	height:2px;
	background:#e33131;
	transform:translate(-50%,0);
}
.invert header .page-title:before { background:#fff; }
input[type="text"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="month"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	background:#f6f6f6;
	border:none;
	border-radius:4px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#525b64 !important;
	font:18px 'Open Sans', sans-serif;
	max-width:100%;
	padding:16px 20px;
}
.invert input[type="text"], .invert input[type="color"], .invert input[type="date"], .invert input[type="datetime"], .invert input[type="datetime-local"], .invert input[type="email"], .invert input[type="number"], .invert input[type="month"], .invert input[type="password"], .invert input[type="search"], .invert input[type="tel"], .invert input[type="time"], .invert input[type="url"], .invert input[type="week"], .invert textarea, .invert select {
	background:rgba(255,255,255,0.2);
	color:#fff !important;
}
fieldset { border-color:#d8d8d8; }
label { display:inline-block; }
#search-form .form-item { display:block; }
#user-login-form label { display:block; }
#user-login-form .form-text { width:100%; }
#user-login .form-text, #contact-site-form .form-text, .search-form .form-text { width:100%; }
#contact-site-form label { vertical-align:middle; }
a {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	color:#e33131;
	text-decoration:none;
}
a:hover { color:#323232; }
.btn a, a.btn, .more-link a, input[type="submit"], input[type="reset"], ul.links li a, #block-poll-recent ul.links li a, .content ul.pager li a, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a, .form-submit {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	border-radius:3px;
	box-shadow:none;
	display:inline-block;
	font:400 14px/1 'Libre Franklin', sans-serif;
	outline:none;
	padding:22px 37.5px;
	letter-spacing:0;
	text-decoration:none;
	text-transform:uppercase;
	background:#e33131;
	border:1px solid #e33131;
	color:#fff;
	margin-top:25px;
}
.invert .btn a, .invert a.btn, .invert .more-link a, .invert input[type="submit"], .invert input[type="reset"], .invert ul.links li a, .invert #block-poll-recent ul.links li a, .invert .content ul.pager li a, .invert .content ul.pager li.pager-current, .invert .view .date-nav-wrapper .date-prev a, .invert .view .date-nav-wrapper .date-next a, .invert .form-submit {
	background:transparent;
	border-color:#fff;
	color:#fff;
}
ul.links li a, .content ul.pager li a, .content ul.pager li.pager-current { padding:7px 16px; }
.btn a:hover, a.btn:hover, .more-link a:hover, input[type="submit"]:hover, input[type="reset"]:hover, ul.links li a:hover, .view-portfolio .views-field-view-node a:hover, #block-poll-recent ul.links li a:hover, #filters li a:hover, #filters li a.selected, .content ul.pager li a:hover, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover, .form-submit:hover {
	background:#000;
	border-color:#000;
	color:#fff;
	text-decoration:none;
}
.invert .btn a:hover, .invert a.btn:hover, .invert .more-link a:hover, .invert input[type="submit"]:hover, .invert input[type="reset"]:hover, .invert ul.links li a:hover, .invert .view-portfolio .views-field-view-node a:hover, .invert #block-poll-recent ul.links li a:hover, .invert #filters li a:hover, .invert #filters li a.selected, .invert .content ul.pager li a:hover, .invert .content ul.pager li.pager-current, .invert .view .date-nav-wrapper .date-prev a:hover, .invert .view .date-nav-wrapper .date-next a:hover, .invert .form-submit:hover {
	background:#fff;
	border-color:#fff;
	color:#333;
	text-decoration:none;
}
.more-link {
	padding-top:20px;
	text-align:center;
}
ul, .item-list ul, ul.menu { margin:0 0 1.67; }
ul li, .item-list ul li, ul.menu li {
	background:none;
	list-style:none;
	margin:17px 0 0;
	padding:0 0 0 20px;
	position:relative;
}
ul li:first-child, .item-list ul li:first-child, ul.menu li:first-child { margin-top:0; }
ul li:before, .item-list ul li:before, ul.menu li:before {
	content:'\2022';
	position:absolute;
	left:0;
	top:0;
	color:#e33131;
}
ul li a, .item-list ul li a, ul.menu li a {
	color:inherit;
	text-decoration:none;
}
ul li a:hover, .item-list ul li a:hover, ul.menu li a:hover {
	color:#e33131;
	text-decoration:none;
}
ul li ul, .item-list ul li ul, ul.menu li ul { padding-top:10px; }
ul.action-links li, ul.sf-menu li, .reset_list ul li, ul.tabs li, ul.flex-direction-nav li, ul.links li, ul#admin-menu-menu li, ul#admin-menu-account li, ul#admin-menu-icon li, ul.slides li, ul.contextual-links li, ul.tips li, ul.pager li, .messages.error ul li, .rate-widget ul li, ul.submitted-list li, .footer-menu .content ul li, #filters li {
	background:none;
	position:static;
	border:none;
	font:inherit;
	margin-top:0;
	padding-left:0;
}
ul.action-links li:before, ul.sf-menu li:before, .reset_list ul li:before, ul.tabs li:before, ul.flex-direction-nav li:before, ul.links li:before, ul#admin-menu-menu li:before, ul#admin-menu-account li:before, ul#admin-menu-icon li:before, ul.slides li:before, ul.contextual-links li:before, ul.tips li:before, ul.pager li:before, .messages.error ul li:before, .rate-widget ul li:before, ul.submitted-list li:before, .footer-menu .content ul li:before, #filters li:before { display:none; }
.messages.error ul li { list-style:disc; }
#admin-menu, #admin-menu .dropdown { z-index:10000; }
img {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:auto;
	max-width:100%;
}
img.lazyloader-icon { width:auto !important; }
.frame, .field-type-image, .views-field-field-image, .views-field-field-blog-media, .view-portfolio .isotope-element .views-field-field-portfolio-image, .field-name-field-blog-media, .field-name-field-image, .field-name-field-portfolio-image, .field-name-field-service-image, .field-name-field-employee-photo, .field-name-field-banner-image, .field-name-field-slide-image {
	margin-bottom:20px;
	position:relative;
}
.user-picture {
	background:none;
	float:left;
	margin-right:15px;
	max-width:45%;
	padding:0;
}
.profile .user-picture {
	float:right;
	margin:0 0 0 20px;
}
p { margin-bottom:1.67; }
table { margin-bottom:0; }
table tr.odd, table tr.even { border:none; }
table tr.odd { background:transparent; }
table tr.even { background:#f8fafb; }
table th {
	background:#f8fafb;
	border:none;
	color:#e33131;
	font-size:14px;
	padding:5px;
}
table th a { color:inherit; }
table th a:hover {
	color:#e33131;
	text-decoration:none;
}
table td { padding:5px; }
hr {
	margin:50px 0;
	border-top:1px solid #d8d8d8;
}
.extra-wrap { overflow:hidden; }
.wrapper {
	overflow:hidden;
	position:relative;
	width:100%;
}
.clearfix { position:relative; }
.clearfix:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.fclear { clear:both; }
.separator {
	clear:both;
	height:40px;
}
.separator-top {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.separator-bottom {
	border-bottom:0;
	margin-bottom:50px;
	padding-bottom:0;
}
.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.img-left {
	float:left;
	margin:0 30px 20px 0;
}
.top-indent { padding-top:20%; }
.width-indent {
	padding-left:25%;
	padding-right:25%;
}
.region-header, .region-header-bottom, .region-content-top, .region-fw-content-top, .region-content, .region-content-bottom, .region-footer-top {
	position:relative;
	z-index:1;
}
.region-header .block, .region-header-bottom .block, .region-content-top .block, .region-fw-content-top .block, .region-content .block, .region-content-bottom .block, .region-footer-top .block { position:relative; }
.region-header .block:not(:last-child), .region-header-bottom .block:not(:last-child), .region-content-top .block:not(:last-child), .region-fw-content-top .block:not(:last-child), .region-content .block:not(:last-child), .region-content-bottom .block:not(:last-child), .region-footer-top .block:not(:last-child) { padding-bottom:20px; }
.region-header:after, .region-header-bottom:after, .region-content-top:after, .region-fw-content-top:after, .region-content:after, .region-content-bottom:after, .region-footer-top:after {
	clear:both;
	content:'';
	display:block;
	overflow:hidden;
	width:100%;
}
.region-header .block, .region-fw-content-top .block, .region-footer .block { padding-bottom:0px; }
.video-bg { background:url(../images/ajax-loader.gif) center center no-repeat; }
.header_wrapper, .header_two_wrapper {
	padding-top:120px;
	padding-bottom:135px;
}
.header_top_wrapper { background:#272727; }
.content_top_wrapper, .content_bottom_wrapper, .section_two_wrapper { background:#f8fafb; }
.parallax-box { position:relative; }
.parallax-box .region {
	position:relative;
	z-index:9;
}
.parallax-bg {
	bottom:0;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	width:100%;
}
.parallax-bg-inner {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	max-width:none;
	position:relative;
}
::selection, ::-moz-selection {
	background:#e33131;
	color:#fff;
	text-shadow:none;
}
img::selection, img::-moz-selection { background:transparent; }
.region-header-top {
	margin-bottom:0;
	font-size:16px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:stretch;
	align-items:center;
	padding:7px 0 0;
}
.region-header-top p:last-child { margin-bottom:0; }
.region-header-top > * { padding-bottom:7px; }
#header {
	position:relative;
	width:100%;
}
.header-section {
	background:#fff;
	padding:12px 0;
}
.not-front .header-section { border-bottom:4px solid #f8fafb; }
.header-section_inner {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:stretch;
	align-items:center;
}
.header-section_inner > * {
	margin:10px 0;
	flex:0 1 auto;
}
.stickup {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	z-index:9999;
}
.isStuck {
	box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);
	left:0;
	right:0;
	top:0;
}
.site-name {
	margin-bottom:0;
	font-weight:400;
	font-size:30px;
	color:#fff;
}
.site-name a:hover {
	color:inherit;
	text-decoration:none;
}
.slogan {
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
}
.region-menu {
	position:relative;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-end;
	align-content:stretch;
	align-items:center;
}
.region-menu > * { padding:10px 0; }
.region-menu > *:first-child { margin-right:30px; }
.region-menu > *:last-child { margin-right:0; }
ul.sf-menu.sf-style-none.sf-horizontal {
	background:none;
	margin-bottom:0;
	padding:0;
	width:auto;
	z-index:101;
	position:relative;
}
ul.sf-menu.sf-style-none.sf-horizontal:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
ul.sf-menu.sf-style-none.sf-horizontal > li {
	background:none;
	border:0;
	font:300 14px/1em 'Libre Franklin', sans-serif;
	margin:0 0 0 36px;
	overflow:inherit;
	letter-spacing:0.7px;
	padding:0;
	text-transform:uppercase;
	position:relative;
}
ul.sf-menu.sf-style-none.sf-horizontal > li:first-child { margin-left:0; }
ul.sf-menu.sf-style-none.sf-horizontal > li > a {
	color:#000;
	text-decoration:none;
}
ul.sf-menu.sf-style-none.sf-horizontal > li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
ul.sf-menu.sf-style-none.sf-horizontal > li > a:hover, ul.sf-menu.sf-style-none.sf-horizontal > li.active-trail > a, ul.sf-menu.sf-style-none.sf-horizontal > li.sfHover > a {
	color:#e33131;
	text-decoration:none;
}
ul.sf-menu.sf-style-none.sf-horizontal > li > ul { top:35px; }
ul.sf-menu.sf-style-none.sf-horizontal > li ul {
	background:#333 !important;
	border-radius:0 !important;
	display:none;
	padding:15px 0 !important;
	width:150px !important;
}
ul.sf-menu.sf-style-none.sf-horizontal > li ul li {
	border-bottom:0;
	float:none !important;
	font-weight:400;
	text-transform:none;
	font-size:14px;
	line-height:1.7;
	height:auto;
	padding:5px 10px 5px 15px;
	margin:0;
	width:auto !important;
	position:relative;
}
ul.sf-menu.sf-style-none.sf-horizontal > li ul li > a:visited, ul.sf-menu.sf-style-none.sf-horizontal > li ul li > a {
	padding:0;
	color:#fff;
	text-decoration:none;
}
ul.sf-menu.sf-style-none.sf-horizontal > li ul li > a:visited .sf-sub-indicator, ul.sf-menu.sf-style-none.sf-horizontal > li ul li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
ul.sf-menu.sf-style-none.sf-horizontal > li ul li > a:hover, ul.sf-menu.sf-style-none.sf-horizontal > li ul li.active-trail > a, ul.sf-menu.sf-style-none.sf-horizontal > li ul li.sfHover > a {
	color:#e33131;
	background:none;
	text-decoration:none;
}
ul.sf-menu.sf-style-none.sf-horizontal > li ul li ul { top:-15px; }
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu { width:auto !important; }
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol {
	vertical-align:top;
	white-space:nowrap;
}
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li {
	display:inline-block;
	margin:0 0 0 15px;
	padding:0;
	vertical-align:top;
	width:140px !important;
	white-space:normal;
}
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li:first-child { margin-left:0; }
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li a {
	padding:0 5px 0 15px;
	color:#777;
	text-decoration:none;
}
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li a:hover, ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li a.active, ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li.active-trail > a, ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li.sfHover > a {
	color:#fff;
	background:#e33131;
	text-decoration:none;
}
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li ol { padding:0; }
ul.sf-menu.sf-style-none.sf-horizontal .sf-megamenu > li > ol > li ol li {
	display:block;
	float:none !important;
	margin-left:0;
	padding:0;
}
.flex-viewport {
	-moz-transition:none;
	-o-transition:none;
	-webkit-transition:none;
	transition:none;
}
.flexslider {
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	margin-bottom:30px;
	overflow:hidden;
}
.flexslider .flex-control-thumbs li { margin:0; }
.flexslider .flex-control-nav {
	bottom:10px;
	line-height:0;
	font-size:0;
}
.flexslider .flex-control-nav li { margin:0 6px; }
.flexslider .flex-control-nav li a {
	background:none;
	box-shadow:none;
	border:2px solid #fff;
}
.flexslider .flex-control-nav li a:hover, .flexslider .flex-control-nav li a.flex-active { background:#fff; }
.flexslider .flex-control-thumbs li {
	margin:0;
	width:33.333%;
}
.flexslider .flex-direction-nav a { text-shadow:none; }
.flexslider .flex-direction-nav a:before { line-height:40px; }
.flexslider img {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
.optionset-default .flex-direction-nav a {
	text-shadow:none;
	color:#fff;
}
.optionset-default .flex-direction-nav a:hover { color:#e33131; }
.optionset-default .flex-direction-nav a:before { line-height:40px; }
.optionset-default .views-field-field-slider-image {
	position:relative;
	height:100vh;
}
.optionset-default .views-field-field-slider-image img {
	position:absolute;
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:center;
}
.optionset-default .flex-caption {
	text-align:center;
	z-index:99;
}
.optionset-default .flex-caption .container {
	left:50%;
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.optionset-default .flex-caption .inner { padding:0; }
.optionset-default .flex-caption .slider_title {
	position:relative;
	font-size:110px;
	color:#fff;
}
.optionset-default .flex-caption .slider_title:before {
	content:'';
	position:absolute;
	top:-17px;
	left:50%;
	width:115px;
	height:2px;
	background:#e33131;
	transform:translate(-50%,0);
}
.optionset-default .flex-caption .slider_slogan {
	color:#fff;
	font-size:30px;
	font-weight:400;
	text-transform:uppercase;
	font-family:'Libre Franklin', sans-serif;
}
.optionset-default .flex-caption .btn a { margin-top:35px; }
.view-testimonials .flexslider .slides img { width:auto; }
.view-testimonials blockquote {
	text-align:center;
	padding:0 10%;
}
.view-testimonials blockquote .testimonials-image { margin-bottom:30px; }
.view-testimonials blockquote .testimonials-image img {
	display:inline-block;
	border-radius:50%;
	border:3px solid #fff;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.11);
	-moz-box-shadow:0 0 2px rgba(0,0,0,0.11);
	box-shadow:0 0 2px rgba(0,0,0,0.11);
}
.view-testimonials blockquote .testimonials-content {
	color:#000;
	font-size:24px;
	line-height:36px;
	font-style:italic;
}
.view-testimonials blockquote .testimonials-name, .view-testimonials blockquote .testimonials-position {
	color:#888;
	font-size:16px;
	line-height:21px;
}
.view-testimonials blockquote .testimonials-name { color:#e33131; }
.header_bottom_wrapper { background:#fff; }
.header_bottom_wrapper .region { padding:120px 0 80px; }
.content_top_wrapper .region { padding:120px 0; }
#main { padding:120px 0 130px; }
.page-taxonomy-term #main { padding:50px 0 0; }
.region-content { padding:0; }
.views-row { margin-bottom:30px; }
.views-row.first { clear:left; }
.panels-flexible-region-inside, .panels-flexible-column-inside {
	padding-left:0 !important;
	padding-right:0 !important;
	position:relative;
}
.panels-flexible-region-inside:after, .panels-flexible-column-inside:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.panel-flexible-inside .panels-flexible-row { margin-bottom:30px; }
.panel-flexible-inside .panels-flexible-row-last { margin-bottom:0; }
div.messages {
	margin-bottom:30px;
	padding-right:30px;
}
div.messages .dismiss {
	box-shadow:none;
	border-radius:2px;
	font-family:'Open Sans', sans-serif;
	line-height:normal;
	padding:2px 6px 4px;
	text-transform:lowercase;
	width:auto;
}
div.messages .dismiss:hover {
	color:#fff;
	text-shadow:none;
}
.breadcrumbs_wrapper { background:#f8fafb; }
.front .breadcrumbs_wrapper { display:none; }
#breadcrumb {
	color:#888;
	padding:35px 0;
}
#breadcrumb a {
	color:inherit;
	padding:0 3px;
	text-decoration:none;
}
#breadcrumb a:first-child { padding-left:0; }
#breadcrumb a:last-child { padding-right:0; }
#breadcrumb a:hover { color:#e33131; }
.tabs-wrapper { margin:1px 0 20px; }
.tabs { overflow:hidden; }
.tabs ul.primary {
	border:0;
	border-bottom:1px solid #d8d8d8;
	margin:0 0 20px;
	overflow:hidden;
	padding:4px 0 0;
}
.tabs ul.primary li {
	display:block;
	float:left;
	margin-left:2px;
}
.tabs ul.primary li:first-child { margin-left:0; }
.tabs ul.primary li a {
	background:#fff;
	border:1px solid #d8d8d8;
	border-bottom:0;
	border-radius:3px 3px 0 0;
	color:#888;
	display:block;
	font-size:12px;
	font-weight:normal;
	margin:0;
	overflow:hidden;
	padding:5px 15px;
	text-shadow:none;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.tabs ul.primary li.active a, .tabs ul.primary li a:hover {
	background:#e33131;
	border-color:#2180cc;
	color:#fff;
	text-decoration:none;
}
.post-meta {
	color:#e33131;
	font-size:14px;
}
.post-grid .view-content { position:relative; }
.post-grid .view-content:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.post-grid .views-row figure { margin-bottom:30px; }
.post-grid .views-row h6 { margin-bottom:10px; }
.post-grid .views-row .post-meta {
	font-style:italic;
	color:;
	font-size:14px;
	margin-bottom:15px;
}
.post-list .views-row { margin-top:6px; }
.post-list .views-row .title { margin-bottom:5px; }
.post-list .views-row .title a { color:#e33131; }
.post-list .views-row .title a:hover { color:#888; }
.post-list .views-row .post-meta {
	font-style:italic;
	color:#888;
	font-size:16px;
}
.post-timeline .view-content { border-left:1px solid rgba(54,165,237,0.3); }
.post-timeline .view-content .views-row {
	padding-left:40px;
	position:relative;
}
.post-timeline .view-content .views-row:not(:last-child) { margin-bottom:75px; }
.post-timeline .view-content .views-row:before, .post-timeline .view-content .views-row:after {
	content:'';
	position:absolute;
	display:inline-block;
	border-radius:25px;
	left:0;
	top:0;
}
.post-timeline .view-content .views-row:before {
	background:#fff;
	-webkit-box-shadow:0 0 0 9px #fff;
	-moz-box-shadow:0 0 0 9px #fff;
	box-shadow:0 0 0 9px #fff;
	width:22px;
	height:22px;
	transform:translate(-11px,5px);
	z-index:1;
}
.post-timeline .view-content .views-row:after {
	width:10px;
	height:10px;
	background:#e33131;
	-webkit-box-shadow:0 0 0 6px rgba(54,165,237,0.21);
	-moz-box-shadow:0 0 0 6px rgba(54,165,237,0.21);
	box-shadow:0 0 0 6px rgba(54,165,237,0.21);
	transform:translate(-5px,10px);
	z-index:2;
}
.view-services .views-row {
	padding-top:30px;
	margin-bottom:50px;
	position:relative;
}
.view-services .views-row:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.view-services .views-row .service-icon {
	color:#fff;
	background:#e33131;
	display:inline-block;
	border-radius:50%;
	text-align:center;
	font-size:40px;
	margin-top:10px;
	margin-bottom:17px;
	width:105px;
	height:105px;
	line-height:105px;
	font-size:44px;
	float:left;
	-moz-transition:all ease 0.2s;
	-o-transition:all ease 0.2s;
	-webkit-transition:all ease 0.2s;
	transition:all ease 0.2s;
}
.view-services .views-row .service-content {
	padding-left:30px;
	overflow:hidden;
}
.view-services .views-row:hover .service-icon { background:#000; }
.page-services .views-row {
	padding:120px 0;
	margin-bottom:20px;
}
.page-services .views-row .service-image {
	float:left;
	max-width:50%;
}
.page-services .views-row .service-content { padding:0 0 0 50px; }
.page-services .views-row-even { position:relative; }
.page-services .views-row-even:before {
	z-index:-1;
	position:absolute;
	background:#f6f6f6;
	content:'';
	left:-5000%;
	right:-5000%;
	top:0;
	bottom:0;
}
.page-services .views-row-even .service-image { float:right; }
.page-services .views-row-even .service-content {
	padding:0 50px 0 0;
	overflow:hidden;
}
.page-projects .view-project-category .views-row { text-align:center; }
.page-projects .view-project-category .project-category-content { padding:36px 20px; }
.page-projects .view-project-category .link a {
	font-family:'Libre Franklin', sans-serif;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	text-decoration:underline;
	color:#e33131;
}
.invert .page-projects .view-project-category .link a { color:#fff; }
.page-projects .view-project-category .link a:hover {
	color:#000;
	text-decoration:underline;
}
.invert .page-projects .view-project-category .link a:hover { color:#e33131; }
.project-category .view-content { position:relative; }
.project-category .view-content:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.project-category .view-content .views-row {
	float:left;
	width:25%;
	margin:0;
}
.project-category .inner-wrapper {
	position:relative;
	opacity:1;
	-webkit-transition:all 0.8s ease;
	transition:all 0.8s ease;
}
.project-category .project-items-media {
	position:relative;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-perspective:1000px;
	perspective:1000px;
}
.project-category .project-items-media:hover .project-items-media-front {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}
.project-category .project-items-media:hover .project-items-media-back {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.project-category .project-items-media-front, .project-category .project-items-media-back {
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transition:-webkit-transform .7s cubic-bezier(.4,.2,.2,1);
	transition:-webkit-transform .7s cubic-bezier(.4,.2,.2,1);
	transition:transform .7s cubic-bezier(.4,.2,.2,1);
	transition:transform .7s cubic-bezier(.4,.2,.2,1), -webkit-transform .7s cubic-bezier(.4,.2,.2,1);
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
}
.project-category .project-items-media-front .hover-content, .project-category .project-items-media-back .hover-content {
	padding:15px 45px;
	-webkit-transform:translateZ(60px);
	transform:translateZ(60px);
}
.project-category .project-items-media-front {
	-webkit-transform:rotateY(0);
	transform:rotateY(0);
}
.project-category .project-items-media-back {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.project-category .project-items-media-back .featured-image span { background:rgba(51,51,51,0.9); }
.project-category .hover-content {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:column nowrap;
	-ms-flex-flow:column nowrap;
	flex-flow:column nowrap;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-align-content:center;
	-ms-flex-line-pack:center;
	align-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(35,40,45,0.6);
	-webkit-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
	background:none;
	opacity:1;
	text-align:center;
	padding:5px 15px;
	z-index:2;
	color:#fff;
}
.project-category .hover-content >* {
	display:inline-block;
	opacity:1;
	-webkit-transition:.3s;
	transition:.3s;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
}
.project-category .featured-image {
	position:relative;
	width:100%;
	line-height:0;
}
.project-category .featured-image span {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:inline-block;
	z-index:1;
	-webkit-transition:.3s;
	transition:.3s;
	background:rgba(51,51,51,0.6);
}
.project-category .featured-image img {
	width:100%;
	max-width:100%;
	height:auto;
}
.project-category h6 a { color:#fff; }
.project-category h6 a:hover { color:#e33131; }
.project-category .link a {
	font-size:14px;
	font-weight:400;
	font-family:'Libre Franklin', sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-decoration:underline;
}
.project-category .link a:hover {
	color:#e33131;
	text-decoration:underline;
}
.content_bottom_wrapper .region { padding:65px 0 90px; }
.page-blog .content-header ul { margin-bottom:0; }
.page-blog .content-header ul li {
	background:none;
	padding:0;
}
.page-blog .node-blog.node-teaser {
	padding:0 0 50px;
	border-bottom:1px solid #d8d8d8;
}
.node {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.node:first-child {
	background:none;
	border-top:0;
	margin-top:0;
	padding-top:0;
}
.node-header { margin-bottom:20px; }
.node-teaser .field-type-file, .node-teaser .field-type-image {
	margin:0 30px 20px 0;
	width:45%;
	float:left;
}
.node-teaser .link-wrapper {
	overflow:hidden;
	width:100%;
}
.media-vimeo-video { padding-bottom:50.2%; }
.node-teaser .media-vimeo-video { padding-bottom:63.2%; }
.media-youtube-video { padding-bottom:50.2%; }
.node-teaser .media-youtube-video { padding-bottom:63.2%; }
.media-vimeo-video, .media-youtube-video {
	height:0;
	overflow:hidden;
	padding-top:30px;
	position:relative;
}
.media-vimeo-video iframe, .media-youtube-video iframe {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.node-teaser  p:last-child { margin-bottom:0; }
.links { list-style:none; }
.links li {
	display:inline-block !important;
	margin-right:5px;
}
.links li a { margin-bottom:5px; }
.content ul.pager {
	margin-top:30px;
	text-align:left;
}
.content ul.pager li {
	margin:0px 1px 5px;
	padding:0;
	display:inline-block;
}
.node-footer { padding-top:30px; }
.node-footer .field-name-field-tags { padding-top:20px; }
.node-footer .field-name-field-tags .field-label {
	background:none;
	float:left;
	font:inherit;
	font-weight:bold;
	margin-right:15px;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.node-footer .field-name-field-tags .field-items {
	overflow:hidden;
	padding-bottom:15px;
	width:100%;
}
.node-footer .field-name-field-tags ul li {
	float:left;
	margin:0 0 5px 10px;
}
.node-footer .field-name-field-tags ul li:first-child { margin-left:0; }
.node-footer .field-name-field-tags ul li a {
	font:inherit;
	font-weight:bold;
	padding:2px 8px;
}
.field-name-field-blog-tags ul {
	float:left;
	overflow:hidden;
}
.field-name-field-blog-tags ul:before {
	content:"\f02c";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.addthis_button_compact { margin:0; }
.likebtn_container { padding-top:4px; }
#comments {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comments .indented { margin-left:20px; }
.comment {
	background:transparent;
	border:1px solid #d8d8d8;
	margin-bottom:10px;
	padding:25px;
}
.comment .comment-submitted { margin:0 0 5px; }
.comment .comment-content { margin-bottom:20px; }
.comment .comment-footer { padding:0; }
#comment-form-wrapper {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comment-form .form-item {
	margin:0 0 15px;
	overflow:hidden;
	width:100%;
}
#comment-form label { vertical-align:middle; }
#comment-form .form-type-item label {
	float:left;
	padding-right:10px;
}
#comment-form .form-text { width:100%; }
#comment-form .form-textarea {
	height:200px;
	width:100%;
}
#comment-form .filter-wrapper {
	border:none;
	padding:0;
}
#comment-form .filter-wrapper .fieldset-wrapper > * { padding:0; }
#comment-form .filter-wrapper .filter-help { padding-top:15px; }
#comment-form .filter-wrapper .filter-help a {
	background:none;
	display:inline-block;
	padding:0;
}
#comment-form .filter-wrapper .form-item { width:auto; }
#comment-form .filter-wrapper label {
	display:inline-block;
	margin-right:15px;
}
#comment-form .form-actions {
	margin:0;
	padding-top:20px;
}
#comment-form .form-actions #edit-submit { margin-right:5px; }
#edit-comment-body-und-0-format-guidelines { clear:both; }
#edit-comment-body-und-0-format-guidelines ul { font:inherit; }
#edit-comment-body-und-0-format-guidelines ul li {
	background:none;
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
}
.contact-form .form-item {
	margin-top:0 !important;
	position:relative;
}
.contact-form input[type="text"], .contact-form textarea {
	position:relative;
	z-index:20;
}
.contact-form input[type="text"].error, .contact-form textarea.error {
	border:none;
	background:#f7d4d5;
	box-shadow:inset 0 0 0 1px #fd3c3d !important;
}
.contact-form textarea { min-height:145px; }
.contact-form .form-type-textfield { margin-bottom:20px !important; }
.contact-form .form-type-textarea { clear:both; }
.contact-form div.error-message {
	background:#ec7b7b;
	bottom:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:13px;
	font-weight:normal;
	left:0;
	line-height:16px;
	margin:0 0 5px;
	max-width:100%;
	opacity:0;
	padding:3px 5px;
	position:absolute;
	-moz-transition:.4s ease;
	-o-transition:.4s ease;
	-webkit-transition:.4s ease;
	transition:.4s ease;
	z-index:-999;
}
.contact-form div.error-message:after {
	content:'';
	position:absolute;
	left:10px;
	bottom:-5px;
	border-top:5px solid #ec7b7b;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
}
.contact-form .error ~ div.error-message {
	opacity:1;
	-webkit-animation-duration:.6s;
	animation-duration:.6s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
	z-index:999;
}
.contact-form input[type="reset"] { margin-right:10px; }
.contact-form .form-actions { display:inline-block; }
#contact-personal-form .form-type-textfield {
	float:none;
	margin-bottom:30px !important;
	margin-left:0;
	width:100%;
}
#contact-personal-form .form-type-textfield input[type="text"] { display:block; }
.action-links {
	overflow:hidden;
	padding:0 0 25px;
}
.action-links li {
	float:left;
	margin-left:10px;
}
.action-links li:first-child { margin-left:0; }
.action-links li a { font-weight:bold; }
#forum table td.topics, #forum table td.posts, #forum table td.replies { text-align:center; }
#forum table td.container { font-weight:bold; }
#forum table .description { margin:0; }
#forum table .indent { margin:0; }
#forum table .name { overflow:hidden; }
#forum table .description { clear:both; }
.field-name-taxonomy-forums, .field-type-taxonomy-term-reference {
	overflow:hidden;
	padding-top:20px;
	width:100%;
}
.field-name-taxonomy-forums.field-label-above, .field-type-taxonomy-term-reference.field-label-above { padding-top:0; }
.field-name-taxonomy-forums .field-label, .field-type-taxonomy-term-reference .field-label {
	background:none;
	font:inherit;
	font-weight:bold;
	margin:0;
	text-shadow:none;
	text-transform:uppercase;
}
.field-name-taxonomy-forums ul.links, .field-type-taxonomy-term-reference ul.links { margin-bottom:0; }
.field-name-taxonomy-forums ul.links li, .field-type-taxonomy-term-reference ul.links li {
	float:left;
	margin:0 0 5px;
}
.field-name-taxonomy-forums ul.links li:before, .field-type-taxonomy-term-reference ul.links li:before { content:', '; }
.field-name-taxonomy-forums ul.links li:first-child, .field-type-taxonomy-term-reference ul.links li:first-child { margin-left:0; }
.field-name-taxonomy-forums ul.links li:first-child:before, .field-type-taxonomy-term-reference ul.links li:first-child:before { content:''; }
.field-name-taxonomy-forums ul.links li a, .field-type-taxonomy-term-reference ul.links li a {
	background:none;
	border:none;
	box-shadow:none;
	color:#e33131;
	display:inline;
	font:inherit;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.field-name-taxonomy-forums ul.links li a:hover, .field-type-taxonomy-term-reference ul.links li a:hover {
	background:none;
	text-decoration:underline;
}
.page-forum- #main-wrapper .active img {
	padding:0;
	background:0;
	border:none;
	margin-left:5px;
	margin-top:4px;
}
.compose-tips .filter-type { margin-top:40px; }
.compose-tips .filter-type:first-child { margin-top:0; }
.block-comment-recent .item-list ul li { padding-left:0; }
.block-comment-recent .item-list ul li:before { display:none; }
.block-comment-recent .item-list ul li a { color:#e33131; }
.block-comment-recent .item-list ul li a:hover { color:#323232; }
.block-comment-recent .item-list ul li span {
	color:#888;
	font-size:16px;
	font-weight:400;
	margin-top:5px;
	display:block;
	font-style:italic;
}
.sidebar { position:relative; }
.sidebar .block {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
	border-top:1px solid #d8d8d8;
	padding-top:40px;
}
.sidebar .block .block-title {
	font:300 18px/1.89 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
	margin-bottom:15px;
}
.sidebar .block:first-child {
	border-top:0 !important;
	margin-top:0 !important;
	padding-top:0 !important;
}
.field-label-inline .field-label, .field-label-inline .field-items { max-width:100%; }
.element-invisible { margin:0; }
.not-logged-in .contextual-links { display:none !important; }
.contextual-links li {
	color:#888 !important;
	font-size:18px !important;
	line-height:1.67 !important;
}
.calendar-calendar table, .calendar-calendar table td, .calendar-calendar table th, .calendar-calendar .month-view .full th.days { border:1px solid #d8d8d8; }
.calendar-calendar td.calendar-agenda-items, .calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty { border-color:#d8d8d8; }
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
	background-color:transparent;
	color:#e33131;
	font-weight:bold;
}
.calendar-calendar th.days {
	background:#f8fafb;
	border:none;
	color:#888;
}
.calendar-calendar td { text-align:center; }
.calendar-calendar td .inner div, .calendar-calendar td .inner div a { background:none; }
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview { background:#f8fafb; }
.calendar-calendar .day-view .full td .inner div.calendar .views-field-created {
	color:#888;
	float:left;
	width:50px;
}
.calendar-calendar .day-view .full td .inner div.calendar .views-field-title { overflow:hidden; }
.calendar-calendar .month-view .full tr td.single-day.today, .calendar-calendar .month-view .full td.date-box.today { border-color:#e33131; }
.view-Calendar .pager .date-prev, .view-Calendar .pager .date-next, .view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
	background:none;
	border-radius:0;
	line-height:0;
	padding:0;
	top:6px;
}
.view-Calendar .pager .date-prev a, .view-Calendar .pager .date-next a, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
	background:#888;
	color:transparent;
	display:block;
	font-size:0;
	height:22px;
	line-height:0;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
	width:22px;
}
.view-Calendar .pager .date-prev a:before, .view-Calendar .pager .date-next a:before, .view .date-nav-wrapper .date-prev a:before, .view .date-nav-wrapper .date-next a:before {
	color:#fff;
	font-family:FontAwesome;
	font-size:12px;
	font-weight:normal;
	left:50%;
	line-height:22px;
	margin-left:-5px;
	margin-top:-11px;
	position:absolute;
	top:50%;
}
.view-Calendar .pager .date-prev a:hover, .view-Calendar .pager .date-next a:hover, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover { background:#e33131; }
.view .date-nav-wrapper .date-prev { right:auto; }
.view .date-nav-wrapper .date-prev a:before { content:"\f060"; }
.view .date-nav-wrapper .date-next a:before { content:"\f061"; }
table .mini-day-on a { text-decoration:none; }
table .mini-day-on a:hover { text-decoration:underline; }
.field-name-field-employee-position, .employee-position {
	color:#e33131;
	font-size:16px;
	font-style:italic;
}
.view-employee .views-row { text-align:center; }
.view-employee .views-row .employee-image { margin-bottom:25px; }
.node-type-employee .node-content { text-align:center; }
.node-type-employee .field-type-image { padding:0 25%; }
.poll .total, .poll .title { margin-bottom:15px; }
.poll .bar {
	background-color:#fff;
	border:1px solid #d8d8d8;
	height:20px;
	margin-bottom:15px;
	padding:1px;
}
.poll .bar .foreground {
	background-color:#e33131;
	display:none;
	height:20px;
}
.poll .percent { float:right; }
.poll .vote-form {
	text-align:left;
	padding-bottom:15px;
}
.poll .vote-form .choices { width:100%; }
#block-poll-recent ul.links li {
	background:none;
	padding-left:0;
}
#block-views-comments-recent-block .views-row { margin-top:20px; }
#block-views-comments-recent-block .views-row:first-child { margin-top:0; }
#block-views-comments-recent-block .views-field-subject a { color:inherit; }
#block-views-comments-recent-block .views-field-subject a:hover {
	color:#e33131;
	text-decoration:none;
}
.contextual-links-region .node-title a { color:inherit; }
.contextual-links-region .node-title a:hover {
	color:#e33131;
	text-decoration:none;
}
#block-views-recent-posts-block .views-row { margin-top:20px; }
#block-views-recent-posts-block .views-row:first-child { margin-top:0; }
#block-views-recent-posts-block .views-field-body {
	clear:both;
	padding-top:10px;
}
#search-block-form, [id*="search-block-form"] {
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
	background:#d8d8d8;
	border-radius:4px;
}
#search-block-form >div, [id*="search-block-form"] >div { padding:1px; }
#search-block-form [id*=edit-actions], [id*="search-block-form"] [id*=edit-actions] {
	position:absolute;
	top:0;
	right:0;
	width:45px;
	height:45px;
	display:block;
	z-index:1;
}
#search-block-form [id*=edit-actions]:after, [id*="search-block-form"] [id*=edit-actions]:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	text-align:center;
	content:'\f002';
	font:16px/45px FontAwesome;
	width:45px;
	font-weight:400;
	color:#e33131;
	z-index:1;
	margin:0;
	top:0;
	right:0;
	position:absolute;
	cursor:pointer;
}
#search-block-form [id*=edit-actions] .form-submit, [id*="search-block-form"] [id*=edit-actions] .form-submit {
	position:relative;
	width:45px;
	height:45px;
	padding:0;
	border:none;
	text-indent:-9999px;
	z-index:2;
	background:none;
	border-radius:0;
	bottom:0;
	box-shadow:none;
	color:transparent;
	cursor:pointer;
	display:block;
	font-size:0;
	line-height:0;
	margin:0 !important;
	right:0;
	top:0;
}
#search-block-form [id*=edit-actions]:hover:after, [id*="search-block-form"] [id*=edit-actions]:hover:after { color:#000; }
#search-block-form .container-inline, [id*="search-block-form"] .container-inline {
	border:1px solid #d8d8d8;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	border:0;
}
#search-block-form .container-inline:after, [id*="search-block-form"] .container-inline:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
#search-block-form .form-item-search-block-form, [id*="search-block-form"] .form-item-search-block-form {
	width:100%;
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#search-block-form input.form-text, [id*="search-block-form"] input.form-text {
	color:#bdbdbd !important;
	font-weight:400 !important;
	background:#fff;
	width:100%;
	height:45px;
	font-size:14px;
	line-height:17px;
	box-sizing:border-box;
	padding:13px 45px 15px 18px;
	margin:0;
	border:none;
	display:block;
}
[class*="block-search-form"] .block-content {
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
[class*="block-search-form"] .block-content form {
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
	background:#d8d8d8;
	border-radius:4px;
}
[class*="block-search-form"] .block-content form >div { padding:1px; }
.dd-search#block-search-form .search-button {
	font-size:19px;
	line-height:1em;
	padding:5px;
	text-align:center;
	display:inline-block;
	border:none;
	cursor:pointer;
	position:relative;
	color:#000;
	width:25px;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.dd-search#block-search-form .search-button i:before {
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.dd-search#block-search-form .search-button:hover { color:#e33131; }
.dd-search#block-search-form .block-content {
	z-index:1000;
	position:absolute;
	top:-99px;
	width:360px;
	padding:0;
	overflow:hidden;
	right:25px;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.dd-search#block-search-form .block-content form {
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
	position:relative;
	background:#d8d8d8;
	opacity:0;
	visibility:hidden;
}
.dd-search#block-search-form .block-content form >div { padding:1px; }
.dd-search#block-search-form .block-content.active { top:0; }
.dd-search#block-search-form .block-content.active form {
	visibility:visible;
	opacity:1;
	padding:0;
}
.dd-search#block-search-form .block-content.active + .search-button i:before { content:'\f00d'; }
[id*="simple-subscription-form"] input[type="text"] {
	width:100%;
	font-style:normal !important;
}
[id*="simple-subscription-form"] .form-item { margin:0; }
[id*="simple-subscription-form"] .simple_subscription_header { margin-bottom:35px; }
.invert [id*="simple-subscription-form"] .simple_subscription_header { color:#fff; }
.block-simple-subscription .block-title, .block-simple-subscription .pane-title {
	text-transform:uppercase;
	font-size:24px;
	font-weight:400;
	margin-bottom:10px;
}
.progressbar .progressbar-title {
	font:300 18px/1.89 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
	margin-bottom:15px;
	color:#000;
	color:#333;
	margin-bottom:16px;
	color:#e33131;
}
.progressbar .progressbar-title a {
	color:inherit;
	text-decoration:none;
}
.progressbar .progressbar-title a:hover {
	color:#e33131;
	text-decoration:none;
}
.invert .progressbar .progressbar-title { color:#fff; }
.progressbar .progressbar-title a {
	color:inherit;
	text-decoration:none;
}
.progressbar .progressbar-title a:hover {
	color:#e33131;
	text-decoration:none;
}
.invert .progressbar .progressbar-title { color:#fff; }
.progressbar .progressbar-percent {
	font:300 18px/1.89 'Libre Franklin', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.06em;
	margin-bottom:15px;
	color:#000;
	color:#333;
	margin-bottom:16px;
	color:#b8b8b8;
}
.progressbar .progressbar-percent a {
	color:inherit;
	text-decoration:none;
}
.progressbar .progressbar-percent a:hover {
	color:#e33131;
	text-decoration:none;
}
.invert .progressbar .progressbar-percent { color:#fff; }
.progressbar .progressbar-percent a {
	color:inherit;
	text-decoration:none;
}
.progressbar .progressbar-percent a:hover {
	color:#e33131;
	text-decoration:none;
}
.invert .progressbar .progressbar-percent { color:#fff; }
.progressbar .progressbar-wrap {
	background:#d8d8d8;
	margin-bottom:27px;
}
.progressbar .progressbar-background {
	background:#e33131;
	height:4px;
}
.piegraph-title {
	font-size:18px;
	line-height:27px;
	margin:20px 0 0;
}
.icon-shortcode + .icon-shortcode { margin-left:15px; }
.icon-shortcode i { margin-right:7px; }
.footer_top_wrapper { background:#e33131; }
.footer_top_wrapper .region { padding:65px 0 70px; }
#footer {
	clear:both;
	padding:0;
	position:relative;
}
.footer-wrapper { background:#272727; }
.region-footer {
	text-align:center;
	padding:20px 0;
	font-size:14px;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-align-content:stretch;
	-ms-flex-line-pack:stretch;
	align-content:stretch;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
}
.tm-follow-links .tm-follow-link-wrapper {
	float:none;
	display:inline-block;
	font-size:18px;
	margin:0 7px;
}
.tm-follow-links .tm-follow-link-wrapper a:hover {
	text-decoration:none;
	color:#e33131;
}
.invert { color:#fff; }
.invert a { color:#fff; }
.invert a:hover { text-decoration:underline; }
.invert .region-footer { color:#888; }
#backtotop {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	background:none;
	border-radius:50%;
	bottom:100px;
	box-shadow:0 0 0 4px #e33131;
	color:transparent;
	font-size:0;
	line-height:0;
	margin-right:0 !important;
	opacity:1 !important;
	padding:0;
	position:fixed;
	right:40px !important;
	text-align:center;
	text-decoration:none;
	width:40px;
	height:40px;
	z-index:999;
}
#backtotop:before {
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	background:#e33131;
	border-radius:50%;
	content:'';
	height:100%;
	left:-2px;
	opacity:1;
	padding:2px;
	pointer-events:none;
	position:absolute;
	top:-2px;
	transition:transform 0.2s, opacity 0.3s;
	-moz-transition:-moz-transform 0.2s, opacity 0.3s;
	-webkit-transition:-webkit-transform 0.2s, opacity 0.3s;
	width:100%;
	z-index:-1;
}
#backtotop:after {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	color:#fff;
	content:"\f077";
	font:normal 20px/40px FontAwesome;
}
#backtotop:hover { box-shadow:0 0 0 4px #000; }
#backtotop:hover:before {
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	transform:scale(1.3);
	opacity:0;
}
#backtotop:hover:after { color:#000; }
.region-page-bottom pre { padding:0 !important; }
